h1 {
    color: blue;
    text-align: center;
}

h2 {
    text-align: center;
}


th {
    border-style: solid;
    width: 100px;
    height: 100px;
}

th:hover {
    background-color: grey;

}

#wrapper {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#players {
    width: 200px;
}

#footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #363636;
    color: #ebebeb;
}


.game-button {
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
}